@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  box-sizing: border-box;
}

::-moz-placeholder {
  color: black;
  padding: 10px;
  font-size: 17px;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: black;
  padding: 10px;
  font-size: 17px;
  opacity: 0.5;
}

::placeholder {
  color: black;
  padding: 10px;
  font-size: 17px;
  opacity: 0.5;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  background-image: url("//images03.nicepage.com/05136ab1d24c39d6df2c5e00/f015a76c69245d0b99b5695b/bg2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  background-position: 50% 50%;
}
.container .header {
  width: 100%;
  position: absolute;
  margin-top: 10px;
}
.container .header .navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container .header .navbar img {
  width: 35px;
  height: 35px;
}
.container .content {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.container .content .section {
  align-items: center;
}
.container .content .section .text {
  text-align: center;
}
.container .content .section .text h1 {
  font-size: 7rem;
  margin: 0px;
  padding: 0px;
  width: auto;
}
.container .content .section .text h2 {
  font-size: 5rem;
  margin: 0px;
  padding: 0px;
  width: auto;
  font-weight: 100;
  margin-top: -55px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container .content .section .text h3 {
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
  width: auto;
  letter-spacing: 1px;
  font-weight: 600;
}

.discount {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #e72e36;
  margin: 0;
  padding: 0;
}
.discount .discount-container {
  display: flex;
  align-items: center;
}
.discount .discount-container .left-text {
  margin: 0;
  width: 50%;
  height: 80%;
  text-align: end;
  align-items: center;
}
.discount .discount-container .left-text .contents {
  align-items: center;
  margin-top: 25%;
  margin-bottom: 25%;
  margin-left: 25%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
  letter-spacing: 2px;
}
.discount .discount-container .left-text .contents h3 {
  font-size: 2.25rem;
  margin: 0 0 0 25%;
  font-weight: 100;
}
.discount .discount-container .left-text .contents h1 {
  font-size: 9rem;
  margin: 0 0 0 25%;
  font-weight: bold;
}
.discount .discount-container .left-text .contents h2 {
  font-size: 3rem;
  margin: 0 0 0 25%;
  font-weight: 100;
}
.discount .discount-container .left-text .contents p {
  font-size: 1rem;
  margin: 0 0 0 0%;
  margin-top: 15px;
  letter-spacing: 2.5px;
  line-height: 23px;
}
.discount .discount-container .left-text .contents a {
  font-size: 17px;
  line-height: 5;
  text-decoration: none;
  color: white;
  border-style: none none solid none;
  border-width: 10px;
  letter-spacing: 4px;
}
.discount .discount-container .images-container {
  width: 50%;
  height: 80%;
}
.discount .discount-container .images-container img {
  width: 100%;
  height: 113%;
}

.number {
  width: 100%;
  display: flex;
  background-color: black;
  padding: 120px 50px;
}
.number .contain {
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
  text-align: start;
  width: 70%;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.number .contain .left {
  margin-right: 90px;
}
.number .contain .left .article h1 {
  font-size: 9rem;
  font-weight: 700;
  margin: 0;
}
.number .contain .left .article h2 {
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
  line-height: 1;
}
.number .contain .left .article p {
  font-size: 1.05rem;
  line-height: 1.6;
}
.number .contain .right .article h1 {
  font-size: 9rem;
  font-weight: 700;
  margin: 0;
}
.number .contain .right .article h2 {
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
  line-height: 1;
}
.number .contain .right .article p {
  font-size: 1.05rem;
  line-height: 1.6;
}

.design {
  display: flex;
  width: 100%;
  height: 550px;
  background-position: 50% 50%;
  background-size: 100%;
  background-image: url("//images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/5c2634996bff53a7a994b924/pexelsphoto218863.jpeg");
  background-repeat: no-repeat;
}
.design .service {
  display: flex;
  align-items: flex-end;
  margin-left: 12%;
  color: white;
}
.design .service h1 {
  margin-bottom: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  flex-direction: column;
  font-weight: 350;
  line-height: 1.1;
  letter-spacing: 0.8px;
}

.follow {
  width: 100%;
  height: 327px;
  background-color: #e72e36;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.follow .title {
  display: flex;
  justify-content: center;
}
.follow .title h1 {
  margin: 75px auto 0 auto;
  font-size: 3rem;
  font-weight: bold;
}
.follow .icons {
  display: flex;
  justify-content: center;
}
.follow .icons .images {
  margin: 30px auto 0 auto;
}
.follow .icons .images img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.follow .line {
  display: flex;
  align-items: center;
  justify-content: center;
}
.follow .line p {
  width: 100px;
  height: 10px;
  background-color: white;
  margin: 30px auto 0 auto;
}

.sale {
  width: 100%;
  background-position: 50% 100%;
  background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/ed5530a7ad325fa393d73e4c/xdz.jpg");
  z-index: 10;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sale .sale-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
  margin: 0 auto;
}
.sale .sale-container .left-sale {
  color: white;
  text-align: center;
  margin-right: 80px;
}
.sale .sale-container .left-sale .left-sale-wrapper {
  border: 10px solid white;
  padding: 40px 20px;
  position: relative;
  z-index: 0;
  display: flex;
  min-height: 620px;
  align-items: center;
}
.sale .sale-container .left-sale .left-sale-wrapper .sale-text {
  z-index: 3;
  margin: 0;
  padding: 0;
}
.sale .sale-container .left-sale .left-sale-wrapper .sale-text p {
  font-size: 9rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.sale .sale-container .left-sale .left-sale-wrapper .sale-images {
  position: absolute;
  display: flex;
  width: 540px;
  height: 330px;
  z-index: -1;
  top: 100px;
  left: -100px;
}
.sale .sale-container .left-sale .left-sale-wrapper .sale-images img {
  width: 100%;
  height: 100%;
}
.sale .sale-container .right-sale {
  color: white;
}
.sale .sale-container .right-sale h1 {
  color: #e72e36;
  font-size: 3rem;
}
.sale .sale-container .right-sale p {
  font-size: 1.175rem;
  line-height: 1.7;
}
.sale .sale-container .right-sale a {
  color: white;
  text-decoration: none;
  border-bottom: 10px solid white;
  letter-spacing: 4px;
  line-height: 1.5;
  font-weight: 600;
}

.form .form-container {
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  background-color: #E72E36;
  color: white;
}
.form .form-container .form-text {
  min-height: 510px;
  margin-right: 60px;
}
.form .form-container .form-text .form-box {
  align-items: center;
  margin: 50px 0;
  max-width: 600px;
}
.form .form-container .form-text .form-box .form-title h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  letter-spacing: -1;
  font-weight: 300;
  margin-right: 50px;
  line-height: 1;
}
.form .form-container .form-text .form-box .form-input .row {
  width: 100%;
  margin: 0;
  margin-top: 30px;
}
.form .form-container .form-text .form-box .form-input .row label {
  display: block;
  font-size: 1rem;
  font-weight: normal;
}
.form .form-container .form-text .form-box .form-input .row input {
  width: 100%;
  height: 45px;
  margin-top: 5px;
}
.form .form-container .form-text .form-box .form-input .row textarea {
  width: 100%;
  height: 120px;
  margin-top: 5px;
  max-width: 100%;
  max-height: 200px;
}
.form .form-container .form-text .form-box .form-input .submit button {
  width: 110px;
  height: 50px;
  color: azure;
  background-color: transparent;
  border: 2px solid white;
  margin-top: 20px;
  font-size: 16px;
}
.form .form-container .social-media {
  margin-right: 100px;
  display: flex;
}
.form .form-container .social-media .social-box {
  align-items: center;
  margin: 26px 15px 0;
  padding-right: 115px;
}
.form .form-container .social-media .social-box .social-title h3 {
  font-size: 30px;
}
.form .form-container .social-media .social-box .social-image .row {
  font-size: 17px;
}
.form .form-container .social-media .social-box .social-image .row img {
  width: 70px;
  background-color: white;
  border-radius: 20px;
}
.footer {
  background-color: #333333;
  color: white;
  min-height: 200px;
}
.footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 0;
}
.footer .footer-container p {
  margin: 0;
  word-wrap: break-word;
}
.footer .footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 0;
}
.footer .footer-link p a {
  padding: 10px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}/*# sourceMappingURL=index.css.map */